body{
    background: #011638 !important;
    color: #fff !important;
    margin: 0px !important;
    padding:0px !important;
    overflow-x: hidden;
}
.bg-body{

    --bs-bg-opacity: 0 !important;
}
.nav-link{
    color: #fff !important;
}
.btn-outline-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #3FE3F3 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #3FE3F3 !important;
}
.nav-link {
    text-decoration: none; /* Remove default underline */
    position: relative; /* Add a relative position to the links */
  }
  
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px; /* Set the height of the border line */
    background-color: #3FE3F3; /* Set the color of the border line */
    position: absolute;
    bottom: -5px; /* Adjust as needed to position the border line */
    left: 0;
    transition: width 0.5s ease; /* Add a smooth transition effect */
  }
  .dropdown-toggle::after {
display: none !important;
  }
  .nav-link:hover::after {
    width: 100%; /* Expand the width to create the animation effect */
  }


  /* Change the color of the toggle button and its icon to white */
  .navbar-toggler {
    color: white !important;
    border: 1px Solid #fff !important;
    background-color: white !important;
    width: 45px; /* Set the desired width */
    height: 34px; /* Set the desired height */
    font-size: 16px !important;
  }
  .navbar-toggler-icon {
    font-size: 14px; /* Set the font size for the icon */
  }



  .form-label{
    padding-bottom: 10px;  }
    .btn-info {
        --bs-btn-color: #fff !important;
        --bs-btn-bg: #124271 !important;
        --bs-btn-border-color: #124271 !important;
        --bs-btn-hover-color: #fff !important;
        --bs-btn-hover-bg: #2a6aab !important;
        --bs-btn-hover-border-color:#2a6aab !important;
        --bs-btn-focus-shadow-rgb: 11,172,204;
        --bs-btn-active-color: #fff !important;
        --bs-btn-active-bg: #124271 !important;
        --bs-btn-active-border-color:#124271 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        height: 60px;
        --bs-btn-border-radius:15px !important;
    }
footer{
    /* background: #38516a !important; */
    background: linear-gradient(to right,#38516a,#54899d 70%) !important;

}
.form-control{
    background:#3b3c4e !important;
    color: #fff !important;
    line-height: 2.5 !important;
    border-radius: 15px !important;
    border-color: #3b3c4e !important;
}
input::placeholder {
    color: #fff !important; /* Change to your desired color */
  }
  footer ul {
    list-style-type: none !important;
    margin-left: -26px;
    color: rgb(237, 232, 232);
    line-height: 60px;
    margin-top: 33px;
 
  }
  footer ul li{
    cursor: pointer;
  }
  /*  Services */
    #services {
    padding: 30px 0;
  }

  #servicepara{
font-weight: 400;
  }
#servicepic{
  height: 82px;
  margin-left: 250px
}
#servicebottom{
 
    height: 182px;
    margin-left: 20px
 
}

  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background:#1f263d;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }
  .services-list div i {
    font-size: 23px;
    cursor: pointer;

  }
  .services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .services-list .text-center:hover {
    background: #194489;
    transform: translateY(-10px);
  }




  .services-listt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-listt div {
    /* background:#2b75ba; */
    background: linear-gradient(to bottom, #108e9e, #3f4fb4);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 46px;
    transition: background 0.5s, transform 0.5s;
  }
  .services-listt div i {
    font-size: 23px;
    cursor: pointer;

  }
  .services-listt div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services-listt div h4 {
    font-weight: 400;
  }
  
  .services-listt div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .services-listt .text-left:hover {
    background: linear-gradient(to bottom, #3f4fb4, #108e9e);
    transform: translateY(-10px);
  }






  .services-listti {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-listti div {
    /* background:#2b75ba; */
    background: #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 46px;
    transition: background 0.5s, transform 0.5s;
  }
  .services-listti div i {
    font-size: 23px;
    cursor: pointer;

  }
  .services-listti div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services-listti div h4 {
    font-weight: 400;
  }
  
  .services-listti div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .services-listti .text-center:hover { 
    transform: translateY(-10px);
  }

#languagespic{
  height: 100px;
}
#languagespic1{
  height: 80px;
}


.custom-background {
  background-image: url('backgroundlanding.svg') !important; 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center; 
}



  .headering{
    /* background: #286da9; */
    background: linear-gradient(to bottom, #108e9e, #3f4fb4);
  }
  
 
  

.text-center h6{
color: #9055a2;
}
#cyan{
  color: #3fe3f3;
}
#cyand{
  color: #0e929e;
}
#topi{
  width: 68%;
  height: auto;
}
#topii{
  width: 100%;
  height: auto;
}


.text-center h2{
    color: #858585 !important;
    }
.intro p{
    font-size: 16px;
    color: rgb(234, 234, 234) !important;
}
.btn-dark {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #061a3c !important;
    --bs-btn-border-color: #061a3c !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #110735 !important;
    --bs-btn-hover-border-color:#110735 !important;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color:#061a3c !important;
    --bs-btn-active-border-color:#061a3c !important;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    height: 60px;
    --bs-btn-border-radius:8px !important;
    padding-right: 131px !important;
    padding-left: 27px !important;
}

.text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ensure the text doesn't overflow its container */
}

.toggle-button {
    cursor: pointer;
}
#addressleft{
  height: 25px;
    left: -5px;
    position: relative;
    top: -3px;
}

#workpic{
  height: 470px;
  width: 515px;
}

#helloleft{
  height: 25px;
    margin-left: -15px !important;
}



.bullet-content {
  display: flex;

}
    .styled-bullet-list {
  list-style: none; /* Remove default list-style (disc, circle, etc.) */
  padding-left: 0; /* Remove default padding for list items */
}

.styled-bullet-list li {
    display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically center items within the li */
  margin-bottom: 10px; /* Add some spacing between list items */
}

/* Style for the bullet character */
.bullet {
  font-size: 80px; /* Adjust the font size as desired */
  margin-right: 10px; /* Add spacing between bullet and text */
  color: #9055a2; /* Set the color of the bullet point */
  font-weight: bold; /* Optionally, make the bullet bold */=
}
/* Style for the bullet text */
.bullet-text {
  margin-top: 61px;
  padding: 0;
}
#sservicescol{
  margin-right: 1rem;
  margin-left: 1rem;
}

#Addressfont{
  height: 25px;
  margin-left:-15px;
  margin-right: 2px;
}

.highlighted {
  background-color: #0e929e;
  color: #fff;
  border-radius: 30px 30px 30px 30px;
}
#indbuton{
  padding: 0px 42px !important;
}
  
  @media only screen and (max-width:960px) {
    .navbar-brand img{
        height: 50px !important;
    }
    #brandlogo img{
        margin-top: -4px !important;
    }
    #lefti{
      left:0px !important;
    }
    #addressleft{
      margin-left: 5px !important;
    }
    #Addressfont{
      margin-left: -6px;
    }
    #helloleft{
        margin-left: -10px !important;
    }
    .text-center{
      margin-top: 30px;
    }

    #servicepic{
      margin-left: 200px;
    }
    .headering h1{
     margin-left:0rem !important;
     margin-right:0rem !important;

    }
 #sheadering{
  margin-left:0px !important;
  margin-right:0px !important;
 }
 #sservices{
  margin-left:0px !important;
  margin-right:0px !important;
 }
footer{
  margin-left:0px !important;
  margin-right:0px !important;
}
#sservicescol{
  margin-left:0rem !important;
  margin-right:0rem !important;
}
.custom-background{
  margin-left:0px !important;
  margin-right:0px !important;
}

#barr{
  margin-left: 118px !important;
}
#bardd{
  margin-top: 20px;
}
#indbuton{
  padding: 0px 16px !important;
  font-size: 9px;
}
  }





